
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: left;
}


.container {
  width: 52vw;
  height: 55vh;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1 {
  height: 100%;
  width: 50%;
  border-radius: 15px;
  background-color: #03015d;
}

.title {
  padding: 87px 65px;
}


.container .section1 .title h2 {
  font-family: "Rubik", sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 40px;
  padding-bottom: 21px;
  margin: 0%;
  margin-top: 4px;
}

.container .section1 .title p {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 12px;
  margin: 2.5px 0px 0px;
  margin-bottom: 7px;
  margin-top: -5px;
}

.container .section1 .title a {
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
}


.section2 {
  position: relative;
  height: 100%;
  width: 50%;
}

.section2 form {
  padding: 4vh 1.8vw;
}

.section2 input {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  width: 375px;
  padding: 15px 15px;
  border: 1px solid #c4c4c4;
  border-radius: 7px;
  margin-top: 15px;
  outline: none;
  font-size: 15px;
  /* height: 13px; */
}

.section2 .login_section {
  position: absolute;
  bottom: 30px;
}

.section2 form button {
  font-weight: 500;
  background: #03015d;
  color: #fff;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  height: 55px;
  width: 407px;
  padding:15px 15px;
  border: 1px solid #c4c4c4;
  border-radius: 7px;
  outline: none;
  font-size: 15px;
}


.container .section2 .forgot {
  color: #8b8b8b;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 13px;
  /* height: 16px; */
  margin-bottom: 10px;
  margin-top: 19px;
}

.container .section2 .forgot a {
  color: #03015d;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 13px;
  margin-top: 2vh;
  text-decoration: none;
}


@media screen and (max-width: 1440px) {
  .container .section1 .title h2 {
    font-family: "Rubik", sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 40px;
    margin: 0%;
  }

  .section2 input {
    padding: 13px 17.5px;
    border: 1px solid #c4c4c4;
    border-radius: 7px;
    margin-top: 15px;
    outline: none;
    font-size: 15px;
    height: 18px;
    width: 280px;
  }

  .container .section2 .forgot {
    height: 10px;
    margin-top: 12px;
  }

  .section2 form button {
    height: 45px;
  }

}

@media screen and (max-width: 1024px) {
  .section2 input {
    width: 200px;
    padding: 13px 12px;
  }

  .section2 form button {
    height: 45px;
  }

  .container .section2 .forgot {
    font-size: 13px;
    margin-bottom: 35px;
  }

  .section2 .login_section {
    margin-top: 18px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 75vw;
    height: 55vh;
  }

  .section2 input {
    width: 70%
  }

  .section2 form button {
    height: 45px;
    width: 245px;
  }

  .container .section2 .forgot {
    font-size: 10px;
    margin-bottom: 10px;
  }

  .container .section2 .forgot a {
    font-size: 10px;
    margin-bottom: 11px;
  }
}

@media screen and (max-width: 425px) {
  .container {
    flex-direction: column;
    width: 425px;
    height: 560px;
    border-radius: 0%;
  }

  .section1 {
    height: 280px;
    width: 100%;
    border-radius: 0px;
    padding-bottom: 7px;
    background-color: #03015d;
  }

  .section2 {
    width: 100%;
}

  .title {
    padding: 76px 40px;
  }

  .section2 input{
    padding: 12.5px 12px;
  }

  .section2 form {
    height: 160px;
    width: 337px;
    margin-top: 21px;
    margin-left: 31px;
    padding: 0;
  }

  .section2 form button {
    width: 287px;
  }

  .container .section2 .forgot {
    font-size: 10px;
    margin-bottom: 11px;
  }

  .section2 .login_section {
    margin-left: -1px;

  }
};



@media screen and (max-width: 325px) {
  .container {
    flex-direction: column;
    width: 320px;
    height: 560px;
    border-radius: 0%;
  }

   .section2 form {
  padding: 20px 30px;
  }

  .section2 form button {
    width: 215px;
  }

};





/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #c4c4c4;
  box-sizing: border-box;
} */
/* 
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: left;
}


.container {
  display: flex;
  width: 52vw;
  height: 55vh;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1 {
  height: 100%;
  width: 50%;
  border-radius: 15px;
  background-color: #03015d;
}

.title {
  padding: 9vh 3.5vw;
 
}


.container .section1 .title h2 {
  font-family: "Rubik", sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 40px;
  padding-bottom: 21px;
  margin: 0%;
  margin-top: 4px;
}

.container .section1 .title p {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 12px;
  margin: 2.5px 0px 0px;
  margin-bottom: 7px;
  margin-top: -5px;
}

.container .section1 .title a {
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
}


.section2 {
  position: relative;
  height: 100%;
  width: 50%;
}

.section2 form {
  padding: 4vh 1.8vw;
}

.section2 input {
  font-family: "Poppins", sans-serif;
  width: 370px;
  padding: 2.3vh 17.5px;
  border: 1px solid #c4c4c4;
  border-radius: 7px;
  margin-top: 15px;
  outline: none;
  font-size: 15.5px;
  height: 13px;
  font-weight: 400;
}

.section2 .login_section {
  position: absolute;
  bottom: 3vh;
}

.section2 form button {
  font-weight: 500;
  background: #03015d;
  color: #fff;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  height: 60px;
  width: 22vw;
  padding: 1.8vh 15px;
  border: 1px solid #c4c4c4;
  border-radius: 7px;
  outline: none;
  font-size: 15px;
}


.container .section2 .forgot {
  color: #8b8b8b;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 13px;
  height: 16px;
  margin-bottom: 15px;
  margin-top: 18px;
}

.container .section2 .forgot a {
  color: #03015d;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 13px;
  margin-top: 2vh;
  text-decoration: none;
}


@media screen and (max-width: 1440px) {
  .container .section1 .title h2 {
    font-family: "Rubik", sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 40px;
    margin: 0%;
  }

  .section2 input {
    padding: 13px 17.5px;
    border: 1px solid #c4c4c4;
    border-radius: 7px;
    margin-top: 15px;
    outline: none;
    font-size: 15px;
    height: 18px;
    width: 280px;
  }

  .container .section2 .forgot {
    height: 10px;
    margin-top: 12px;
  }

  .section2 form button {
    height: 45px;
  }

}

@media screen and (max-width: 1024px) {
  .section2 input {
    width: 200px;
    padding: 13px 12px;
  }

  .section2 form button {
    height: 45px;
  }

  .container .section2 .forgot {
    font-size: 13px;
    margin-bottom: 35px;
  }

  .section2 .login_section {
    margin-top: 18px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 75vw;
    height: 55vh;
  }

  .section2 input {
    width: 70%
  }

  .section2 form button {
    height: 45px;
    width: 245px;
  }

  .container .section2 .forgot {
    font-size: 10px;
    margin-bottom: 10px;
  }

  .container .section2 .forgot a {
    font-size: 10px;
    margin-bottom: 11px;
  }
}

@media screen and (max-width: 425px) {
  .container {
    flex-direction: column;
    width: 425px;
    height: 560px;
    border-radius: 0%;
  }

  .section1 {
    height: 280px;
    width: 100%;
    border-radius: 0px;
    padding-bottom: 7px;
    background-color: #03015d;
  }

  .section2 {
    width: 100%;
}

  .title {
    padding: 76px 40px;
  }

  .section2 input{
    padding: 12.5px 12px;
  }

  .section2 form {
    height: 160px;
    width: 337px;
    margin-top: 21px;
    margin-left: 31px;
    padding: 0;
  }

  .section2 form button {
    width: 287px;
  }

  .container .section2 .forgot {
    font-size: 10px;
    margin-bottom: 11px;
  }

  .section2 .login_section {
    margin-left: -1px;

  }
};



@media screen and (max-width: 325px) {
  .container {
    flex-direction: column;
    width: 320px;
    height: 560px;
    border-radius: 0%;
  }

   .section2 form {
  padding: 20px 30px;
  }

  .section2 form button {
    width: 215px;
  }

};
 */
