body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #c4c4c4;
}


/* .container {
    width: 52vw;
    height: 55.20vh;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  
  .container{
    width: 52vw;
    height: 55vh;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section1 {
    height: 100%;
    width: 50%;
    border-radius: 15px;
    background-color: #03015d;
  }
  
  .title{
    padding: 10vh 3.5vw;
  }
  
  .container .section1 .title h2{
    font-family: "Rubik", sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 40px;
    padding-bottom: 20px;
  }
  
  .container .section1 .title p{
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    margin-top: 2.5px;
  }

  .container .section1 .title a{
    font-family: "Poppins",sans-serif;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
  }
  

  /* //editing code start here */
  
  .section2 {
    position: relative;
    height: 100%;
    width: 50%;
  }

  .section2 form{
    padding: 4vh 1.8vw;
  }

   .section2 input{
    font-family: "Poppins",sans-serif;
    width: 22vw;
    padding: 1.8vh 15px;
    border: 1px solid #c4c4c4;
    border-radius: 7px;
    margin-top: 15px;
    outline: none;
    font-size: 15px;
   }

  .section2 .login_section {
  position: absolute;
  bottom: 4vh;
  }

  .section2 form button{
    font-weight: 500;
    background: #03015d;
    color: #fff;
    cursor: pointer;
    font-family: "Poppins",sans-serif;
    width: 22vw;
    padding: 1.8vh 15px;
    border: 1px solid #c4c4c4;
    border-radius: 7px;
    margin-top: 15px;
    outline: none;
    font-size: 15px;
  }

  
  .container .section2 .forgot{
    color: #8b8b8b;
    font-family: "Poppins",sans-serif;
    font-weight: 300;
    font-size: 13px;
    margin-top: 2vh;
  }

  .container .section2 .forgot a{
    color: #03015d;
    font-family: "Poppins",sans-serif;
    font-weight: 700;
    font-size: 13px;
    margin-top: 2vh;
    text-decoration: none;
}
  
