.signup {
  width: 100%;
  height: 100%;
  background-color: #c4c4c4;
}

.signup_container {
  display: flex;
  width: 55vw;
  height: 70vh;
  background-color: #fff;
  border-radius: 15px;
}

.signup_section1 {
  height: 100%;
  width: 50%;
  border-radius: 15px;
  background-color: #fff;
}

.signup_section1 form {
  padding: 30.04px 33.3px;
  margin-top: 9px;
}

/* .signup_section1 form .input-box {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: #000;
  height: 300.5px;
} */

.signup_section1 form input {
  font-family: "Poppins", sans-serif;
  width: 375px;
  padding: 1.8vh 15px;
  border: 1px solid #c4c4c4;
  border-radius: 7px;
  margin-top: 15px;
  outline: none;
  font-size: 15px;
  font-weight: 400;
}

.signup_section1 form .signup_section {
  position: absolute;
  bottom: 195px;
}

.signup_section1 form .signup_section button {
  font-weight: 500;
  background: #03015d;
  color: #fff;
  cursor: pointer;
}

/* .signup_section1 form .input-box input,
.signup_section1 form .signup_section button {
  font-family: "Poppins",sans-serif;
  width: 22vw;
  padding: 1.8vh 15px;
  border: 1px solid #c4c4c4;
  border-radius: 7px;
  margin-top: 15px;
  outline: none;
  font-size: 15px;
  
} */

.signup_section1 form .signup_section button {
  font-weight: 500;
  background: #03015d;
  color: #fff;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  width: 22vw;
  padding: 1.8vh 15px;
  border: 1px solid #c4c4c4;
  border-radius: 7px;
  outline: none;
  font-size: 15px;
}


.signup_section2 {
  height: 100%;
  width: 50%;
  border-radius: 15px;
  background-color: #03015d;
}

.signup_section2 .signup_tittle {
  padding: 58.6px 64.75px;
  /* padding: 10vh 3.5vw; */

}

.signup_section2 .signup_tittle h2 {
  font-family: "Rubik", sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 40px;
  padding-bottom: 20px;
}

.signup_section2 .signup_tittle p {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 12px;
  margin: 2.5px 0px 0px;
  margin-bottom: 40px;
  margin-top: -30px;
}

.signup_section2 .signup_tittle a {
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
}


@media screen and (max-width: 600px) {
  .signup_container {
    display: flex;
    flex-direction: column;
    width: 425px;
    height: 729px;
    background-color: #fff;
    border-radius: 0%;
  }

  .signup_section1 {
    height: 100%;
    width: 100%;
  }

  .signup_section1 form {
    padding: 1px 30px;
  }

  .signup_section1 form input {
    width: 297px;
    padding: 7px 15px
  }

  .signup_section1 form .signup_section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 52px;
    top: 303px;
    width: 382px;
  }

  .signup_section1 form .signup_section button {
    width: 84%;
    padding: 8px 15px;
  }

  .signup_section2 {
    width: 100%;
    border-radius: 0%;
  }

  .signup_section2 .signup_tittle {
    padding: 42.6px 39.75px;
  }

  .signup_section2 .signup_tittle p {
    margin-bottom: 41px;
    margin-top: -31px;
  }

}